<div class = "row search-results">
  <% @athletes.each do |athelete| %>
    <div class = "col-md-10 col-md-offset-2 well member">
      <%= athelete.full_name %>
    </div>
  <% end %>
</div>
<% will_paginate @athletes, render: BootstrapPagination::Rails, class: "pull-left paginate" %>
